<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Agregar Area Natural</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
<h2>Agregar Area Natural</h2>
<form action="#" th:action="@{/areaNatural/add}"
      th:object="${areaNatural}" method="post">
    <table>
        <tr>
            <td><label>NombreArea</label></td>
            <td><input class="form-control" type="text" th:field="*{nombreArea}" /></td>
        </tr>
        <tr>
            <td><label>descripcion</label></td>
            <td><textarea class="form-control" style="margin: 0px; width: 394px; height: 200px;" type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>imagen</label></td>
            <td><input class="form-control" type="text" th:field="*{imagen}" placeholder="Introduce la url" /></td>
        </tr>
        <tr>
            <td><label>Tipo de terreno</label></td>
            <td><select class="form-control" th:field="*{tipoTerreno}">
                    <option th:value="arena">arena</option>
                    <option th:value="hierba">hierba</option>
                    <option th:value="piedra">piedra</option>
                    <option th:value="humífero">humífero</option>
                    <option th:value="fango">fango</option>
                    <option th:value="tierra">tierra</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Tipo de area</label></td>
            <td><select class="form-control" th:field="*{tipoArea}">
                    <option th:value="playa">playa</option>
                    <option th:value="montaña">montaña</option>
                    <option th:value="lago">lago</option>
                    <option th:value="río">río</option>
                    <option th:value="desierto">desierto</option>
                    <option th:value="campo">campo</option>
                    <option th:value="bosque">bosque</option>
                    <option th:value="meseta">meseta</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Tipo de acceso</label></td>
            <td>
            <select class="form-control" th:field="*{tipoAcceso}">
                <option th:value="abierto">abierto</option>
                <option th:value="restringido">restringido</option>
                <option th:value="cerrado">cerrado</option>
            </select></td>
        </tr>
        <tr>
            <td><label>Municipio</label></td>
            <td><select class="form-control" th:field="*{idMunicipio}">
                <option th:value="${municipio.idMunicipio}"
                        th:text="${municipio.nombreMunicipio}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary" role="button" value="Crear area natural" /></td>
        </tr>
    </table>
    <br>
    <a href="/areaNatural/list" class="btn btn-primary">VOLVER</a>
</form>
</div>
</body>
</html>