<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Reservas</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
<h2>Consultar Ocupacion</h2>
<!--<form action="#" th:action="@{/areaNatural/consultarOcupacion}"
      th:object="${areaNatural}" method="post">
    <label>Tipo acceso</label></td>
    <td><select class="form_control" type="text" th:field="*{tipoAcceso}">
        <option value="No seleccionado">Selecciona el tipo de acceso</option>
        <option value="abierto">Abierto</option>
        <option value="restringido">Restringido</option>
        <option value="cerrado">Cerrado</option>
    </select>
</form>-->
<h3 th:text="${areaNatural.nombreArea}"></h3>
<p th:text="${areaNatural.descripcion}"></p>
<img style="max-width:250px;max-height:250px" th:src="${areaNatural.imagen}" alt="No disponible">
<p>Tipo de terreno: <span th:text="${areaNatural.tipoTerreno}"/></p>
<p>Tipo de area: <span th:text="${areaNatural.tipoArea}"/></p>
<p>Tipo de acceso: <span th:text="${areaNatural.tipoAcceso}"/></p>

<p>Municipio: <span th:text="${municipio}"/></p>

<h4>Lista de Servicios disponibles</h4>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Periodicidad</th>
        <th>Tipo Temporada</th>
        <th>Tipo Servicio</th>
        <th>Horarios</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servicio: ${servicios}">
        <td th:text="${franjaHorariaService.transformarFecha(servicio.fechaInicio)}"></td>
        <td th:text="${servicio.fechaFin!=null} ? ${franjaHorariaService.transformarFecha(servicio.fechaFin)} : ''"></td>
        <td th:text="${servicio.periodicidad}"></td>
        <td th:text="${servicio.tipoTemporada}"></td>
        <td th:text="${TipoServicioService.getTipoServicio(servicio.idTipoServicio)}"></td>
        <td th:text="${TipoServicioService.getFranjasTexto(servicio.idServicio)}"></td>
    </tr>
    </tbody>
</table>
    <form action="#" th:action="@{/areaNatural/consultarOcupacion}"
          th:object="${filtro}" method="post">
        <input type="hidden" th:field="*{idArea}" th:value="${filtro.idArea}"/>
        <label>Selecciona una fecha para ver la ocupación de ese dia</label>
        <input type="date" th:field="*{fecha}" required/> <!--th:onchange="this.form.submit()"-->
        <p></p>
        <td><label>Franja horaria</label></td>
        <td><select th:field="*{idFranjaHoraria}">
            <option th:each="franja: ${franjaHorariaService.getFranjasHorarias()}" th:value="${franja.IdFranjaHoraria}"
                    th:text="${franja.horaInicio}+' - '+${franja.horaFin}">
            </option>
            <option th:value="-1" th:text="'Selecciona una franja'" selected></option>
        </select>
        <input type="submit"  class="btn btn-primary" value="Filtrar"/>
    </form>

    <div th:if="${dia!=null}">
        <h5 th:text="'Datos de ocupación del dia '+${dia}"></h5>
        <table>
            <tr><td>Ocupación: <span th:text="${mostrarOcupacionSvc.ocupacionDiaArea(dia,areaNatural.idArea, franja)}"></span></td></tr>
            <tr><td>Número de reservas/zonas libres: <span th:text="${mostrarOcupacionSvc.getNumZonasLibresByFecha(dia,areaNatural.idArea,franja)}"></span></td></tr>
            <tr><td>Capacidad total al mismo tiempo: <span th:text="${mostrarOcupacionSvc.capacidadTotalArea(areaNatural.idArea)}"></span></td></tr>
            <tr><td>Capacidad total en ese periodo de tiempo: <span th:text="${mostrarOcupacionSvc.capacidadTotalAreaFranja(areaNatural.idArea, franja)}"></span></td></tr>
            <tr><td>Porcentaje de ocupación: <span th:text="${mostrarOcupacionSvc.getPorcentajeOcupacion(dia,areaNatural.idArea,franja)}"></span>%</td></tr>

        </table>
    </div>

<!--<table>
    <tr>
        <td><label>Fecha</label></td>
        <td><input type="date" /></td>
    </tr>
    <tr>
        <td><label>Franja horaria</label></td>
        <td><select> //th:field="*{franjaHoraria}"
            <option th:each="franja: ${mostrarOcupacionSvc.getFranjasHorarias()}" th:value="${franja.IdFranjaHoraria}"
                    th:text="${franja.horaInicio}+' '+${franja.horaFin}">
            </option>
        </select>
        </td>
    </tr>
</table>-->
</div>
</body>
</html>