<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:object="${session}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Lista de areas naturales</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de áreas naturales</h1>
    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert alert-dismissible alert-danger">
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre Area</th>
            <th>Imagen</th>
            <th>Tipo Terreno</th>
            <th>Tipo Area</th>
            <th>Tipo Acceso</th>
            <th>Municipio</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="areaNatural: ${areasNaturales}">
            <td th:text="${areaNatural.nombreArea}"></td>
            <!--<td th:text="${areaNatural.descripcion}"></td>-->
            <td><img style="max-width:150px;max-height:150px" th:src="${areaNatural.imagen}" alt="No disponible"></td>
            <td th:text="${areaNatural.tipoTerreno}"></td>
            <td th:text="${areaNatural.tipoArea}"></td>
            <td th:text="${areaNatural.tipoAcceso}"></td>
            <td th:text="${AreaNaturalService.getNombreMunicipio(areaNatural.idMunicipio)}"></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}"><a th:href="@{/areaNatural/update/{idArea}(idArea=${areaNatural.idArea})}" id="editar" role="button"></a></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}">
                <a th:href="@{/areaNatural/delete/{idArea}(idArea=${areaNatural.idArea})}" id="borrar"
                   th:onclick="return confirm('¿ Estás seguro de que quiere borrar el area natural?');">Borrar</a></td>
            <td><a th:href="@{/zona/list/{idArea}(idArea=${areaNatural.idArea})}" class="btn btn-primary" role="button">Mostrar zonas</a></td>
            <td><a th:href="@{/accesibilidad/verHorarios/{idArea}(idArea=${areaNatural.idArea})}" class="btn btn-primary" role="button">Ver horarios</a></td>
            <td><a th:href="@{/areaNatural/consultarOcupacion/{idArea}(idArea=${areaNatural.idArea})}" class="btn btn-dark" role="button">Más info</a></td>
        </tr>
        </tbody>
    </table>
    <a th:if="*{user.rol == 'GestorMunicipal'}" href="add" id="añadir" role="button">+ Añadir Área Natural</a>

</div>
</body>
</html>