<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>EI1027</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>


</head>
<body>
<div  layout:fragment="content">
    <h2>Página principal</h2>
    <center><br>
        <table>
            <tr>
                <td> <a href="../areaNatural/list" class="btn btn-primary" role="button">Consultar <br>Áreas</a></td>
                <td><a href="../servicio/list" class="btn btn-primary" role="button">Consultar<br>Servicios</a></td>
                <td><a href="../reserva/list" class="btn btn-primary" role="button">Consultar<br> Reservas</a></td>

            </tr>
        </table>

    </center>
    <!--<table>
        <tr><td><a  class="btn btn-warning" role="button">Gestionar entrada y<br>salida de<br>áreas naturales</a></td></tr>
    </table>-->
</div>