<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear una nueva ocupacion</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nueva Ocupacion</h2><!-- formulario de ocupacion-->
<form action="#" th:action="@{/ocupacion/add}"
      th:object="${ocupacion}" method="post">
    <table>
        <tr>
            <td><label>idReserva</label></td>
            <td><input type="number" th:field="*{idReserva}" /></td>
        </tr>
        <tr>
            <td><label>idCharNum</label></td>
            <td><input type="text" th:field="*{idCharNum}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Crear Ocupacion" /></td>
        </tr>
    </table>
    <br>
    <a href="n/">VOLVER</a>
</form>
</body>
</html>