<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container" layout:fragment="content">
<h2>Nuevo servicio</h2>
<form action="#" th:action="@{/servicio/add}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>Fecha Inicio</label></td>
            <td><input type="date" th:field="*{fechaInicio}" /></td>
        </tr>
        <tr>
            <td><label>Fecha Fin</label></td>
            <td><input type="date" th:field="*{fechaFin}" /></td>
        </tr>
        <tr>
            <td><label>Periodicidad</label></td>
            <td><input type="number" th:field="*{periodicidad}" /></td>
        </tr>
        <tr>
            <td><label>Tipo De Temporada</label></td>
            <td><select th:field="*{tipoTemporada}">
                <option th:value="fijo">fijo</option>
                <option th:value="temporal">temporal</option>
            </select></td>
        </tr>
        <tr>
        <tr>
            <td><label>Tipo de Servicio</label></td>
        <td><select th:field="*{idTipoServicio}">
            <option th:each="tipoServicio: ${tiposServicio}" th:value="${tipoServicio.idTipoServicio}"
                    th:text="${tipoServicio.nombre}">
            </option>
        </select></td>
        </tr>
        <tr>
            <td><label>Area</label></td>
            <td><select th:field="*{idArea}">
                <option th:each="areaNatural: ${areasNaturales}" th:value="${areaNatural.idArea}"
                        th:text="${areaNatural.nombreArea}">
                </option>
            </select></td>
        </tr>
        <br>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary" value="Crear servicio" /></td>
        </tr>
    </table>
    <br>
    <a href="/servicio/list" class="btn btn-primary" role="button">VOLVER</a>
</form></div>
</body>
</html>