<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org" th:object="${session}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Reservas</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1 th:if="*{user.rol=='Ciudadano'}"><a href="/ciudadano/menuCiudadano">ASEN</a> </h1>
    <h1 th:if="*{user.rol=='GestorMunicipal'}"><a href="/gestorMunicipal/menuGestorMunicipal">ASEN</a></h1>
    <h1>Lista de Servicios</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id Servicio</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Periodicidad</th>
            <th>Tipo Temporada</th>
            <th>Tipo Servicio</th>
            <th>Area</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio: ${servicios}">
            <td th:text="${servicio.idServicio}"></td>
            <td th:text="${franjaHorariaService.transformarFecha(servicio.fechaInicio)}"></td>
            <td th:text="${servicio.fechaFin!=null} ? ${franjaHorariaService.transformarFecha(servicio.fechaFin)}"></td>
            <td th:text="${servicio.periodicidad}"></td>
            <td th:text="${servicio.tipoTemporada}"></td>
            <td th:text="${getTiposServicioService.getTipoServicio(servicio.idTipoServicio)}"></td>
            <td th:text="${areaNaturalService.getNombreArea(servicio.idArea)}"></td>
            <td> <a th:href="@{/servicio/update/{idServicio}(idServicio=${servicio.idServicio})}" class="btn btn-primary" role="button">Editar</a></td>
            <td> <a th:href="@{/disponibilidad/verHorarios/{idServicio}(idServicio=${servicio.idServicio})}" class="btn btn-primary" role="button">Horarios</a></td>
            <td><a th:href="@{/servicio/delete/{idServicio}(idServicio=${servicio.idServicio})}"
                   th:onclick="return confirm('¿ Estás seguro de que quiere borrar el servicio con el id  \''
                    + [[${servicio.idServicio}]] + '\'?');"
                   id="borrar">Borrar</a></td>
            <td> </td>

        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-primary" role="button">Agregar Servicio</a>
    <a href="/disponibilidad/add" class="btn btn-primary" role="button">Agregar Horario</a>
</div>
</body>
</html>