<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Editar un Servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body><div class="container" layout:fragment="content">
<h2>Servicio</h2><!-- formulario de Reserva-->
<form action="#" th:action="@{/servicio/update}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>idServicio</label></td>
            <td><input class="form-control" type="number" th:field="*{idServicio}" readonly /></td>
        </tr>
        <tr>
            <td><label>fecha Inicio</label></td>
            <td><input class="form-control" type="date" th:field="*{fechaInicio}" /></td>
        </tr>
        <tr>
            <td><label>fecha Fin</label></td>
            <td><input class="form-control" type="date" th:field="*{fechaFin}" /></td>
        </tr>
        <tr>
            <td><label>Periodicidad</label></td>
            <td><input class="form-control" type="number" th:field="*{periodicidad}" /></td>
        </tr>
        <tr>
            <td><label>Tipo Temporada</label></td>
            <td><select class="form-control" th:field="*{tipoTemporada}">
                <option th:value="fijo">fijo</option>
                <option th:value="temporal">temporal</option>
            </select>
        </tr>
        <tr>
            <td><label>Tipo de servicio</label></td>
            <td><input class="form-control" type="text" th:field="*{idTipoServicio}" readonly/></td>
        </tr>
        <tr>
            <td><label>Area</label></td>
            <td><input class="form-control" type="number" th:field="*{idArea}" readonly /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"  class="btn btn-primary" value="Actualizar Servicio" /></td>
        </tr>
    </table>
    <br>
</form></div>
</body>
</html>