<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Editar un Servicio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body><div class="container" layout:fragment="content">
    <div th:classappend="'alert alert-dismissible alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert">
    </div>
<h2>Modificar servicio</h2>
<form action="#" th:action="@{/servicio/update}"
      th:object="${servicio}" method="post">
    <table>
        <tr>
            <td><label>idServicio</label></td>
            <td><input class="form-control" type="number" th:field="*{idServicio}" readonly /></td>
        </tr>
        <tr>
            <td><label>fecha Inicio</label></td>
            <td><input class="form-control" type="date" th:field="*{fechaInicio}"  th:min="${current_date}" required/></td>

        </tr>
        <tr>
            <td><label>fecha Fin</label></td>
            <td><input class="form-control" type="date" th:field="*{fechaFin}"  th:min="${current_date}" /></td>
            <td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></td>
        </tr>
        <tr>
            <td><label>Periodicidad</label></td>
            <td><input class="form-control" type="number" min="0" th:field="*{periodicidad}" /></td>
        </tr>
        <tr>
            <td><label>Tipo Temporada</label></td>
            <td><select class="form-control" th:field="*{tipoTemporada}">
                <option th:value="fijo">fijo</option>
                <option th:value="temporal">temporal</option>
            </select>
        </tr>
        <tr>
            <td><label>Tipo de servicio</label></td>
            <td><input class="form-control" type="text" th:field="*{idTipoServicio}" readonly/></td>
        </tr>
        <tr>
            <td><label>Area</label></td>
            <td><input class="form-control" type="number" th:field="*{idArea}" readonly /></td>
        </tr>
        <tr>
            <a>* La periodicidad es el número de días para el cual tarda el servicio a volverse a activar desde la fechaFin establecida</a>
            <td colspan="2"><br><input type="submit"  class="btn btn-primary" value="Actualizar Servicio"
                                   th:onclick="return confirm('¿ Está seguro de que quiere actualizar los datos de este Servicio?');"
            /></td>
        </tr>
    </table>
    <br>
    <a href="/servicio/list" id="atras" role="button">VOLVER</a>
</form></div>
</body>
</html>