<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear una nueva Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
<h2>Nueva Reserva</h2>

<form action="#" th:action="@{/reserva/add}" th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>fecha</label></td>
            <td><input type="date" th:field="*{fecha}" min="current_date" required/></td>
            <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></td>
        </tr>
        <tr>
            <td><label>Numero Personas</label></td>
            <td><input type="number" th:field="*{numeroPersonas}" required/></td>
        </tr>

        <tr>
            <td><label>Franja Horaria</label></td>
            <td><select th:field="*{idFranjaHoraria}" required>
                    <option th:each="franja: ${franjaHorariaService.getFranjasReserva()}" th:value="${franja.IdFranjaHoraria}"
                            th:text="${franja.horaInicio}+' - '+${franja.horaFin}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary" value="Crear Reserva" /></td>
        </tr>
</table>
    <br>
    <a href="/areaNatural/list" class="btn btn-primary" role="button">VOLVER</a>

</form></div>
</body>
</html>