<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
       th:object="${session}"
       xmlns:layout="http://www.w3.org/1999/xhtml"
       layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Reservas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Lista de Reservas</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Número Personas</th>
            <th>Hora Salida</th>
            <th>Fecha Creación</th>
            <th>CodigoQR</th>
            <th>Estado</th>
            <th>Franja Horaria</th>
            <th>Área</th>
            <th>Zonas</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reservas}">
            <td th:text="${franjaHorariaService.transformarFecha(reserva.fecha)}"></td>
            <td th:text="${reserva.numeroPersonas}"></td>
            <td th:text="${reserva.horaSalida}"></td>
            <td th:text="${franjaHorariaService.transformarFecha(reserva.fechaCreacion)}"></td>
            <td><img style="max-width:40px;max-height:40px" th:src="${reserva.codigoQR}" alt="No disponible"></td>
            <td th:text="${reserva.estadoReserva}"></td>
            <td th:text="${franjaHorariaService.getHorasFranja(reserva.idFranjaHoraria)}"></td>
            <td th:text="${reservaService.recuperarNombreArea(reserva.idReserva)}"></td>
            <td th:text="${reservaService.recuperarZonas(reserva.idReserva)}"></td>
            <td> <a th:href="@{/reserva/update/{idReserva}/{fecha}(idReserva=${reserva.idReserva},fecha=${reserva.fecha})}" id="editar" role="button">Editar</a></td>
            <td> <a th:if="${reserva.horaSalida == null}" th:href="@{/reserva/updateHoraSalida/{idReserva}(idReserva=${reserva.idReserva})}" class="btn btn-primary" role="button">Escanear Qr</a></td>
            <td> <a th:href="@{/reserva/cancel/{idReserva}(idReserva=${reserva.idReserva})}"
                   th:onclick="return confirm('¿ Estás seguro de que quiere cancelar la reserva con código \''
                    + [[${reserva.idReserva}]] + '\'?');"
                   id="borrar">Cancelar</a></td>
            <td> </td>

        </tr>
        </tbody>
    </table>
    <a th:if="*{user.rol == 'Ciudadano'}" href="../areaNatural/list"  id="añadir" role="button">Agregar Reserva</a>
</div>
</body>
</html>