<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Reservas</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
</head>
<body>
<div class="container">
    <h1>Lista de Reservas</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>IdReserva</th>
            <th>Fecha</th>
            <th>Número Personas</th>
            <th>Hora Salida</th>
            <th>Fecha Creación</th>
            <th>CodigoQR</th>
            <th>Estado Reserva</th>
            <th>Usuario</th>
            <th>idFranjaHoraria</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reservas}">
            <td th:text="${reserva.idReserva}"></td>
            <td th:text="${reserva.fecha}"></td>
            <td th:text="${reserva.numeroPersonas}"></td>
            <td th:text="${reserva.horaSalida}"></td>
            <td th:text="${reserva.fechaCreacion}"></td>
            <td th:text="${reserva.codigoQR}"></td>
            <td th:text="${reserva.estadoReserva}"></td>
            <td th:text="${reserva.usuario}"></td>
            <td th:text="${reserva.idFranjaHoraria}"></td>
            <td> <a th:href="@{/reserva/update/{idReserva}(idReserva=${reserva.idReserva})}" class="btn btn-primary" role="button">Edita</a></td>
            <td> <a th:href="@{/reserva/updateHoraSalida/{idReserva}(idReserva=${reserva.idReserva})}" class="btn btn-primary" role="button">Edita horaSalida</a></td>
            <td><a th:href="@{/reserva/delete/{idReserva}(idReserva=${reserva.idReserva})}" id="borrar">Esborra</a></td>
            <td> </td>

        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-primary" role="button">Agregar Reserva</a>

    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</div>
</body>
</html>