<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar reserva</h2>
<form action="#" th:action="@{/reserva/update}"
      th:object="${reserva}" method="post">
    <table>
        <tr>
            <td><label>idReserva</label></td>
            <td><input type="number" th:field="*{idReserva}" readonly /></td>
        </tr>
        <tr>
            <td><label>fecha</label></td>
            <td><input type="date" th:field="*{fecha}" /></td>
        </tr>
        <tr>
            <td><label>Numero Personas</label></td>
            <td><input type="number" th:field="*{numeroPersonas}" /></td>
        </tr>
        <tr>
            <td><label>hora Salida</label></td>
            <td><input type="time" th:field="*{horaSalida}"/></td>
        </tr>
        <tr>
            <td><label>fecha Creacion</label></td>
            <td><input type="date" th:field="*{fechaCreacion}" readonly /></td>
        </tr>
        <tr>
            <td><label>codigoQR</label></td>
            <td><img style="max-width:300px;max-height:300px" th:src="${reserva.codigoQR}" alt="No disponible"></td>
        </tr>
        <tr>
            <td><label>Franja Horaria</label></td>
            <td><select th:field="*{idFranjaHoraria}" required>
                <option th:each="franja: ${franjaHorariaService.getFranjasHorarias()}" th:value="${franja.IdFranjaHoraria}"
                        th:text="${franja.horaInicio}+' '+${franja.horaFin}">
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualizar Reserva" /></td>
        </tr>
    </table>
    <br>
    <a href="/reserva/list" class="btn btn-primary" role="button">VOLVER</a>
</form>
</body>
</html>