<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Modificar Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container" layout:fragment="content">
<h2>Modificar reserva</h2>
    <form action="#" th:action="@{/reserva/zonaUpdate}" th:object="${filtro}">
        <table>
            <tr>
                <input class="form-control" type="hidden" th:field="*{idArea}" th:value="${filtro.idArea}"/>
                <input class="form-control" type="hidden" th:field="*{idReserva}" th:value="${filtro.idReserva}"/>
                <td><label>zona(s)</label></td>
                <!--<td><input class="form-control" type="date" th:field="*{fecha}" th:min="${current_date}"  th:onchange="this.form.submit()" required/></td>
                <td th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></td>-->
                <td><select th:onchange="this.form.submit()" class="form-control" th:field="*{zonas}" multiple>
                    <option th:each="idZona: ${session.zonasOriginales}" th:value="${idZona}" th:text="${reservaService.recuperarNombreZona(idZona)}"></option>
                    <option th:each="zona: ${reservaService.getZonas(reserva.fecha, reserva.idFranjaHoraria,filtro.idArea)}" th:value="${zona.idZona}"
                            th:text="${zona.idCharNumero}"></option>
                </select></td>
            </tr>

        </table>
    </form>
    <form action="#" th:action="@{/reserva/update}"
          th:object="${reserva}" method="post">
        <table>
            <tr>
                <td><label>idReserva</label></td>
                <td><input class="form-control" type="number" th:field="*{idReserva}" readonly /></td>
            </tr>
            <tr th:if="${session.user.rol == 'GestorMunicipal'}">
                <td><label>Usuario</label></td>
                <td><input class="form-control" type="text" th:field="*{usuario}" readonly/></td>
            </tr>
            <!--
            <tr>
                <td><label>fecha</label></td>
                <td><input type="date" th:field="*{fecha}" /></td>
            </tr>-->
            <tr><td><input type="hidden" th:field="*{fecha}"/></td></tr>
            <tr>
                <td><label>Numero Personas</label></td>
                <td><input class="form-control" type="number" th:field="*{numeroPersonas}" min="1" th:max="${maxpersonas}" /></td>
            </tr>
            <tr>
                <td><label>hora Salida</label></td>
                <td><input class="form-control" th:if="${reserva.horaSalida==null}" type="time" th:field="*{horaSalida}"/>
                    <input class="form-control" th:unless="${reserva.horaSalida==null}" type="text" th:field="*{horaSalida}" readonly/></td>
            </tr>
            <tr>
                <td><label>fecha Creacion</label></td>
                <td><input class="form-control" type="date" th:field="*{fechaCreacion}" readonly /></td>
            </tr>
            <tr th:if="${session.user.rol=='GestorMunicipal'}">
                <td><label>Estado reserva</label></td>
                <td><select class="form-control" th:field="*{estadoReserva}" required>
                        <option th:value="usado" th:text="Usado"></option>
                        <option th:value="enUso">En Uso</option>
                        <option th:value="cancelado" th:text="Cancelado"></option>
                        <option th:value="pendiente" th:text="Pendiente"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>codigoQR</label></td>
                <td><img style="max-width:120px;max-height:120px" th:src="${reserva.codigoQR}" alt="No disponible"></td>
            </tr>
            <tr>
                <td><label>Franja Horaria</label></td>
                <td><input class="form-control" type="text" th:field="*{idFranjaHoraria}" readonly />
                    <!--<select class="form-control" th:field="*{idFranjaHoraria}" required>
                    <option th:if="${franjaActual!=null}" th:value="${franjaActual}" th:text="${franjaHorariaService.getHorasFranja(franjaActual)}"></option>
                    <option th:each="franja: ${franjaHorariaService.getFranjaReservaLibreReservable(dia,filtro.idZona)}" th:value="${franja.IdFranjaHoraria}"
                            th:text="${franja.horaInicio}+' - '+${franja.horaFin}">
                    </option>
                </select>-->
                </td>

            </tr>
            <tr>
                <td><label>Área natural</label></td>
                <td><input class="form-control" type="text" th:value="${reservaService.recuperarNombreArea(reserva.idReserva)}" readonly /></td>
            </tr>
            <tr>
                <td><select class="form-control" th:field="*{zonas}" multiple style="visibility:hidden">
                    <option th:each="zona: ${reservaService.getZonas(filtro.idArea)}" th:value="${zona.idZona}"
                            th:text="${zona.idCharNumero}"></option>
                </select></td>
            </tr>
            <!--<tr>
                <td><label>Zona</label></td>
                <td><input class="form-control" type="text" th:value="${reservaService.recuperarIdCharNum(reserva.idZona)}" readonly /></td>
            </tr>-->
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-primary" value="Actualizar Reserva"
                                       th:onclick="return confirm('¿ Está seguro de que quiere actualizar esta Reserva? \'');"
                /></td>
            </tr>
        </table>
        <br>
        <a href="/reserva/list" id="atras" role="button">VOLVER</a>
    </form>
</div>
</body>
</html>