<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <title>Crear un nuevo horario de area </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container" layout:fragment="content">
<h2 th:text="'Nuevo horario en el area '+${getAreasNaturalesService.getNombreArea(accesibilidad.idArea)}"></h2>
    <form action="#" th:action="@{/accesibilidad/filtrarDias}"
          th:object="${filtro}" method="post">
        <table>
            <tr><td><input type="hidden" th:field="*{idArea}" th:value="${filtro.idArea}"></td></tr>

            <tr>
                <td><label>Fecha Inicio</label></td>
                <td><input type="date" th:field="*{fecha}" th:min="${current_date}"  th:onchange="this.form.submit()"  required/></td>
            </tr>
            <tr>
                <td><label>Fecha Fin</label></td>
                <td><input type="date" th:field="*{fechaFin}" th:min="${current_date}"  th:onchange="this.form.submit()" /></td>
            </tr>
        </table>

    </form>
<form action="#" th:action="@{/accesibilidad/add}"
      th:object="${accesibilidad}" method="post">
    <table>
        <tr><td><input type="number" th:field="*{idArea}" hidden></td></tr>
        <tr>
            <td><label>FranjaHoraria</label></td>
            <td><select th:field="*{idFranjaHoraria}" required>
                <option th:each="franja: ${franjasHorarias}" th:value="${franja.IdFranjaHoraria}"
                        th:text="${franja.horaInicio}+' '+${franja.horaFin}">
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <!--<td><label>Fecha Inicio</label></td>-->
            <td><input type="date" th:field="*{fechaInicio}" th:min="${current_date}" hidden/></td>
        </tr>
        <tr>
            <!--<td><label>Fecha Fin</label></td>-->
            <td><input type="date" th:field="*{fechaFin}" th:min="${current_date}" hidden/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary" role="button" value="Crear Horario" /></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/accesibilidad/verHorarios/{idArea}(idArea=${accesibilidad.idArea})}" class="btn btn-primary" role="button">VOLVER</a>
</form>
</div>
</body>
</html>