<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:object="${session}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Lista de zonas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container" layout:fragment="content">
    <div th:classappend="'alert alert-dismissible alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert">
    </div>
    <h1 th:text="'Lista de zonas del area '+${area.nombreArea}"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Parcela</th>
            <th>Nombre zona</th>
            <th>Aforo máximo</th>
            <th>Tipo de terreno</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zona: ${zonas}">
            <td th:text="${zona.idCharNumero}"></td>
            <td th:text="${zona.nombreZona}"></td>
            <td th:text="${zona.aforoMaximo}"></td>
            <td th:text="${zona.tipoTerreno}"></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}"> <a th:href="@{/zona/update/{idZona}(idZona=${zona.idZona})}" id="editar" role="button">Editar</a></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}"><a th:href="@{/zona/delete/{idZona}(idZona=${zona.idZona})}"
                                                            th:onclick="return confirm('¿ Estás seguro de que quiere borrar la zona?');"id="borrar">Borrar</a></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${area.tipoAcceso=='restringido' && (session.user.rol==null || session.user.rol=='Ciudadano')}">
        <a th:if="*{user.rol == 'Ciudadano'}" th:href="@{/reserva/add/{idArea}(idArea=${area.idArea})}" class="btn btn-primary" role="button">Reservar</a>
        <a th:if="${session.user.rol==null}" th:href="@{/login}" class="btn btn-primary" role="button">Reservar</a>
    </div>
    <a th:if="*{user.rol == 'GestorMunicipal'}" th:href="@{/zona/add/{idArea}(idArea=${area.idArea})}" id="añadir"  role="button">+ Añadir zona</a>
    <br><br><a href="/areaNatural/list" id="atras" role="button">VOLVER</a>
</div>
</body>
</html>