<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:object="${session}">
<head>
    <meta charset="UTF-8">
    <title>Lista de zonas</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1 th:if="*{user.rol=='Ciudadano'}"><a href="/ciudadano/menuCiudadano">ASEN</a> </h1>
    <h1 th:if="*{user.rol=='GestorMunicipal'}"><a href="/gestorMunicipal/menuGestorMunicipal">ASEN</a></h1>
    <h1 th:text="'Lista de zonas del area '+${area.nombreArea}"></h1>
    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert alert-dismissible alert-danger">
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Parcela</th>
            <th>Nombre zona</th>
            <th>Aforo máximo</th>
            <th>Tipo de terreno</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zona: ${zonas}">
            <td th:text="${zona.idCharNumero}"></td>
            <td th:text="${zona.nombreZona}"></td>
            <td th:text="${zona.aforoMaximo}"></td>
            <td th:text="${zona.tipoTerreno}"></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}"> <a th:href="@{/zona/update/{idZona}(idZona=${zona.idZona})}" class="btn btn-primary" role="button">Editar</a></td>
            <td th:if="*{user.rol == 'GestorMunicipal'}"><a th:href="@{/zona/delete/{idZona}(idZona=${zona.idZona})}"
                                                            th:onclick="return confirm('¿ Estás seguro de que quiere borrar la zona?');"id="borrar">Borrar</a></td>
            <td th:if="${area.tipoAcceso=='restringido' && (session.user.rol==null || session.user.rol=='Ciudadano')}">
                <a th:if="*{user.rol == 'Ciudadano'}" th:href="@{/reserva/add/{idZona}(idZona=${zona.idZona})}" class="btn btn-primary" role="button">Reservar</a>
                <a th:if="${session.user.rol==null}" th:href="@{/login}" class="btn btn-primary" role="button">Reservar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:if="*{user.rol == 'GestorMunicipal'}" th:href="@{/zona/add}" class="btn btn-primary" role="button">+ Añadir zona</a>
</div>
</body>
</html>