<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear un nuevo Ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
<h2>Nuevo Ciudadano</h2><!-- formulario de ciudadano-->
<form action="#" th:action="@{/ciudadano/add}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>usuario*</label></td>
            <td><input type="text" th:field="*{usuario}" maxlength="15" required/></td>
        </tr>
        <tr>
            <td><label>codigo ciudadano*</label></td>
            <td><input type="text" th:field="*{codigoCiudadano}" maxlength="50" required/></td>
        </tr>
        <tr>
            <td><label>pin*</label></td>
            <td><input type="text" th:field="*{pin}" maxlength="15" required/></td>
        </tr>
        <tr>
            <td><label>fecha Nacimiento*</label></td>
            <td><input type="date" th:field="*{fechaNacimiento}" required/></td>
            <td th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></td>
        </tr>
        <tr>
            <td><label>nombre*</label></td>
            <td><input type="text" th:field="*{nombre}" maxlength="20" required/></td>
        </tr>
        <tr>
            <td><label>apellidos*</label></td>
            <td><input type="text" th:field="*{apellidos}" maxlength="50" required/></td>
        </tr>
        <tr>
            <td><label>direccion*</label></td>
            <td><input type="text" th:field="*{direccion}" maxlength="20" required/></td>
        </tr>
        <tr>
            <td><label>correoElectronico*</label></td>
            <td><input type="text" th:field="*{correoElectronico}" maxlength="30" required/></td>
        </tr>
        <tr>
            <td><label>municipio*</label></td>
            <td><input type="text" th:field="*{municipio}" maxlength="30" required/></td>
        </tr>
        <tr>
            <td><label>pais*</label></td>
            <td><input type="text" th:field="*{pais}" maxlength="30" required/></td>
        </tr>
        <tr>
            <td hidden><label>fechaRegistro*</label></td>
            <td hidden><input type="date" th:field="*{fechaRegistro}" /></td>
        </tr>
        <tr>
            <td><label>fechaBaja</label></td>
            <td><input type="date" th:field="*{fechaBaja}" /></td>
            <td th:if="${#fields.hasErrors('fechaBaja')}" th:errors="*{fechaBaja}"></td>
        </tr>
        <tr>
            <td>    <h5>Los campos con * son obligatorios </h5> </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-primary" value="Crear Ciudadano" /></td>
        </tr>
    </table>
    <br>
</form>
</div>
</body>
</html>