<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
<h2>Página principal</h2>
<table >
    <tr>
        <td> <a href="../areaNatural/list" class="btn btn-warning" role="button">Consultar <br>información<br> ocupación</a></td>
        <td><a href="../reserva/list" class="btn btn-warning" role="button"><br>Reservas<br> &nbsp;</a></td>
        <td><a href="../login" class="btn btn-warning" role="button"><br>login<br> &nbsp;</a></td>
    </tr>
</table>
<!--<table>
    <tr><td><a  class="btn btn-warning" role="button">Gestionar entrada y<br>salida de<br>áreas naturales</a></td></tr>
</table>-->
</div>
</body>
</html>