<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Horario servicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>
<div layout:fragment="content">
<h2 th:text="'Nuevo horarios del servicio de '+${tipoServicio} +' de '+ ${area}"></h2>
<form action="#" th:action="@{/disponibilidad/add}"
      th:object="${disponibilidad}" method="post">
    <table>
        <tr>
            <td><!--<select th:field="*{idServicio}" required>
                <option th:each="servicio: ${servicios}" th:value="${servicio.idServicio}"
                        th:text="${getTiposServicio.getTipoServicio(__(${servicio.idTipoServicio})__)}+' - '+${servicio.idServicio}">
                </option>
            </select>-->
            <input type="hidden" th:field="*{idServicio}"/></td>
        </tr>
        <tr>
            <td><label>Franja Horaria</label></td>
            <td><select class="form-control" th:field="*{idFranjaHoraria}" required>
                <option th:each="franja: ${franjasHorarias}" th:value="${franja.IdFranjaHoraria}"
                        th:text="${franja.horaInicio}+' - '+${franja.horaFin}">
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td colspan="2"><br><input type="submit" class="btn btn-primary" value="Crear horario" /></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/disponibilidad/verHorarios/{idServicio}(idServicio=${disponibilidad.idServicio})}" id="atras" role="button">VOLVER</a>
</form>
</div>
</body>

</html>