<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disponibilidad</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nueva disponibilidad</h2><!-- formulario de disponibilidad-->
<form action="#" th:action="@{/disponibilidad/add}"
      th:object="${disponibilidad}" method="post">
    <table>
        <tr>
            <td><label>Identificativo de la franja horaria</label></td>
            <td><input type="number" th:field="*{idFranjaHoraria}" /></td>
        </tr>
        <tr>
            <td><label>Identificativo del servicio</label></td>
            <td><input type="number" th:field="*{idServicio}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Crear disponibilidad" /></td>
        </tr>
    </table>
    <br>
    <a href="n/">VOLVER</a>
</form>
</body>
</html>