<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/base}">
<head>

  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>

  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/litera/bootstrap.css"/>

</head>
<body>
<div layout:fragment="content">
  <div th:classappend="'alert alert-dismissible alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
       th:text="${mensaje}"
       class="alert">
  </div>
  <h2>Acceso</h2>
  <form action="#" th:action="@{/login}"
        th:object="${user}" method="post">
    <br>
    <table>
      <tr>
        <td class="espacio_tabla"><label>Nombre de usuario</label></td>
          <td><input class="form-control" type="text" th:field="*{username}"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div></td>

      </tr>
      <tr>
          <td class="espacio_tabla"><label>Contraseña </label></td>
          <td><input class="form-control" type="password" th:field="*{password}"/>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div></td>
      </tr>
      <tr>
        <th><input type="submit" class="btn btn-primary" value="Acceder" />
      </tr>
    </table>
  </form>
  <br>
  <p style="text-align:left">¿No tienes una cuenta? <a href="/ciudadano/add" class="btn btn-primary">Regístrate</a></p>
</div>

</body>
</html>